@import "variables.less";

//MIXINS
.font-size(@px, @context: @base-font-size){
    font-size: (@px/@context)* 100 + 0%;
}
.sans-serif {
    font-family: @sans-serif-font-family;
}
.serif {
    font-family: @serif-font-family;
}

a {
    color: @orange;
    .transition (all 0.25s ease-in);

    &:hover {
        color: lighten(@orange, 20%);
        text-decoration: none;
    }
}
//BASE TYPOGRAPHY
body {
    //The base settings for font sizes. Changing this will scale everything else.
    //The default baseline is 18px/30px.
    font-size: @base-font-size + 0px;
    line-height: 30/18;
    font-family: @serif-font-family;
    //Sensible defaults.
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    //Offkey white background.
    background-color: @page-background;
}

//Base elements
p {
    margin-bottom: 25px;
    text-align: left;
    .font-size(18);
    line-height: 30/18;
    &.intro {
        .font-size(23);
        text-align: justify;
    }

}

h1 {
    .font-size(63);
    line-height: 74/63;
    font-weight: 700;
    font-family: @sans-serif-font-family;
    text-align: center;
    letter-spacing: 1px;
    margin-top: 60px;
}

h2 {
    .font-size(30);
    line-height: 1;
    margin: 30px 0 30px 0;
    letter-spacing: 1px;
}

//A h2 element under the main h1 title of a blog post.
.subtitle {
    border-top: @default-border;
    border-top-width: 4px;

    h2 {
        letter-spacing: 2px;
        display: inline;
        .font-size(24);
        line-height: 0;
        padding: 0 20px;
        font-weight: 700;
        position: relative;
        top: -16px;
        font-family: @sans-serif-font-family;
        max-width: 80%;
        background-color: @page-background;
    }
}

blockquote {
    margin: 25px 0;
    .font-size(25);
    line-height: 50/25;
    text-align: center;
    text-indent: 16px;
}

hr {
    border: @default-border;
}

//Small thin font at the bottom of posts.
.detail {
    margin-bottom: 25px;
    letter-spacing: 1px;
    color: #666464;
    font-family: @serif-font-family;
}


.summary {
    margin-top: 30px;
    padding: 30px 0;

    //Article name
    h2 {
        .font-size(34);
        //margin-top: 30px;
    }
    //Date under the title. <span>
    .date {
        font-weight: 700;
        font-family: @sans-serif-font-family;
        margin-bottom: 25px;

        line-height: 25px;
    }
    //Short summary of the post.
    p.short {
        //margin-bottom: 50px;
    }
}


//Responsive text.
@media (min-width: 768px) and (max-width: 979px) {
    body {
        font-size: 17px;
    }
}

@media (max-width: 767px) {
    body {
        font-size: 16px;
    }
}
