@import "variables.less";

//MIXINS
.font-size(@px, @context: @base-font-size){
    font-size: (@px/@context)* 100 + 0%;
}
.sans-serif {
    font-family: @sans-serif-font-family;
}
.serif {
    font-family: @serif-font-family;
}

a {
    color: @orange;
    .transition (all 0.25s ease-in);

    &:hover {
        color: lighten(@orange, 20%);
        text-decoration: none;
    }
}

//BASE TYPOGRAPHY
body {
    //The base settings for font sizes. Changing this will scale everything else.
    //The default baseline is 18px/30px.
    font-size: @base-font-size + 0px;
    line-height: 30/18;
    font-family: @serif-font-family;
    //Sensible defaults.
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    //Offkey white background.
    background-color: @page-background;
}

//Base elements
p {
    margin-bottom: 25px;
    text-align: left;
    .font-size(18);
    line-height: 30/18;
    &.intro {
        .font-size(23);
        text-align: justify;
    }

}

h1 {
    .font-size(63);
    line-height: 74/63;
    font-weight: 700;
    font-family: @sans-serif-font-family;
    text-align: center;
    letter-spacing: 1px;
    margin-top: 60px;


}

h2 {
    .font-size(30);
    line-height: 1;
    margin: 30px 0 30px 0;
    letter-spacing: 1px;
}

.title {
    h1 {
        font-family: @sans-serif-font-family;
    }
}

//A h2 element under the main h1 title of a blog post.
.subtitle {
    height: 4px;
    background: @dark-grey;
    text-align: center;
    margin-bottom: 30px;

    h1, h2, h3 {
        top: -0.5em;
        position: relative;
        display: inline;

        background-color: @page-background;
        .font-size(24);
        padding: 0 20px;

    }
}

blockquote {
    margin: 25px 0;
    .font-size(25);
    line-height: 50/25;
    text-align: center;
    text-indent: 16px;
}

hr {
    border: @default-border;
}

//Small thin font at the bottom of posts.
.detail {
    margin-bottom: 25px;
    letter-spacing: 1px;
    color: #666464;
    font-family: @serif-font-family;
}


.summary {
    padding: 30px 0;

    //Article name
    h1.title {
        .font-size(48);
        line-height: 1.2;
        margin-top: 0;
    }
    //Date under the title. <span>
    .date {
        font-weight: 700;
        font-family: @sans-serif-font-family;
        margin-bottom: 25px;
        line-height: 25px;
    }
}


//Responsive text.
@media (min-width: 768px) and (max-width: 979px) {
    body {
        font-size: 17px;
    }
}

@media (max-width: 767px) {
    body {
        font-size: 16px;
    }
}
