.center {
  text-align: center;
}
.navbar-inner {
  border: none;
}
.navbar {
  z-index: 1000;
}
.navbar .brand {
  margin: 12px 58px 12px 0;
  color: white;
  font-weight: 400;
  text-shadow: none;
}
.navbar .nav .active > a {
  background: rgba(240, 142, 5, 0.85);
  color: white;
}
.navbar .nav .active > a:hover {
  background: rgba(190, 112, 4, 0.85);
  color: white;
}
.navbar .nav > li {
  margin: 12px 6px;
}
.navbar .nav > li a {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.3) 0px 1px 0px;
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}
.navbar .nav > li a:hover {
  color: white;
  background: rgba(240, 142, 5, 0.85);
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}
.navbar .divider-vertical {
  border-left: 1px solid rgba(60, 51, 52, 0.25);
  border-right: 1px solid rgba(60, 51, 52, 0.08);
}
.navbar-search {
  margin-top: 16px;
}
.navbar-search .search-query {
  line-height: 24px;
}
.nav-list {
  padding: 0;
}
.nav-list .active > a {
  background: #ffffff;
  color: #333333;
}
.nav-list .active > a:hover {
  background: rgba(240, 142, 5, 0.85);
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  text-shadow: 0 0 2px black;
}
.nav-list > li {
  padding: 0 15px;
  line-height: 36px;
}
.nav-list > li > a {
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  color: white;
  text-shadow: none;
}
.nav-list > li > a:hover {
  background: rgba(240, 142, 5, 0.85);
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  text-shadow: 0 0 2px black;
}
