{% extends "base.html" %}

{% block navbar %}
<div class="top-bar"></div>
{% endblock %}

{% block content %}
    <div class="bio row">
        <div class="span8">
            <div class="me" id="me"></div>
        </div>
    </div>
    {% for article in articles %}
    <div class="summary">
        <div class="subtitle center">
            <h2>
                <a href="{{ url_for("page", path=article.path) }}">
                    {{ article.title }}
                </a>
            </h2>
        </div>
        <h3 class="date center">
            <span class="serif">
                {{article.date.strftime('%d %B %Y') }}
            </span>
            ·
            {{article.topic}}
        </h3>
        <p class="short">
            {{ article.intro }}
        </p>
    </div>
    {% else %}
        <p> Nothing published just yet... </p>
    {% endfor %}
{% endblock content %}

{% block scripts %}
<!-- Cheeky little script to follow people around! -->
<script type="text/javascript" src="{{ url_for('static', filename='js/follow.js') }}"></script>
{% endblock %}
