{% extends "base.html" %}

{% block navbar %}
<div class="top-bar"></div>
{% endblock %}

{% block content %}
    <div class="bio row">
        <div class="span8">
            <div class="me" id="me"></div>
        </div>
    </div>
    {% for article in articles %}
    <div class="summary">

        <h1 class="center title">
            <a href="{{ url_for("page", path=article.path) }}">
                {{ article.title|safe }}
            </a>
        </h1>

        <div class="subtitle">
            <h3 class="date center">
                <span class="serif">
                    {{ article.date.strftime('%d %B %Y') }}
                </span>
                ·
                <span class="sans-serif">
                    {{ article.topic }}
                </span>
            </h3>
        </div>
        <p class="short">
            {{ article.intro }}
        </p>
    </div>
    {% else %}
        <p> Nothing published just yet... </p>
    {% endfor %}
{% endblock content %}

{% block scripts %}
<!-- Cheeky little script to follow people around! -->
<script type="text/javascript" src="{{ url_for('static', filename='js/follow.js') }}"></script>
{% endblock %}
