{% extends "base.html" %}

{% block title %}
	{{ article.title }}
{% endblock %}

{% block content %}
	<h1>
		{{ article.title }}
	</h1>
    <div class="subtitle center uppercase">
        <h2>
                {{ article.topic }}
        </h2>
    </div>
	<p class="intro">
		{{ article.intro }}
	</p>

	{{ article|safe }}

	<p class="center">
		<span class="detail">
			This post was published on {{article.published.strftime('%d %B %Y') }}
		</span>
	</p>
	<div class="comments">
	</div>
{% endblock %}

