{% extends "base.html" %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block content %}
    <h1>
        {{ article.title }}
    </h1>
    <div class="subtitle center uppercase">
        <h2>
            <span class="serif">
                {{article.published.strftime('%d %B %Y') }}
            </span>
            ·{{ article.topic }}
        </h2>
    </div>
    <p class="intro">
        {{ article.intro }}
    </p>

    {{ article|safe }}


    <div class="bio outlined row">
        <div class="span2">
            <div id="me"></div>
        </div>
        <div class="span6">
            <h2>
                <span class="by">by</span>
                Cameron Maske
            </h2>
            <p>
                Software engineer with a love for web design and typography.  Want to get in touch?
                <span class="note">
                    Feel free to drop me an <a href="#" mailto="c@meronmaske.com"> email</a> or over <a href="www.twitter.com/cameronmaske/">
                </span>
            </p>

        </div>
    </div>
    <div class="comments" id="disqus_thread">
    </div>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by
        <span class="logo-disqus">Disqus</span>
    </a>
{% endblock %}
{% block scripts %}
    <!-- Cheeky little script to follow people around! -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/follow.js') }}"></script>
    <!-- Disqus -->
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'cameronmaske';
        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
{% endblock %}
